{
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^vitest(.*)$",
    "^@vitest(.*)$",
    "^@testing-library(.*)$",
    "^react(.*)$",
    "^vite(.*)$",
    "^@vitejs(.*)$",
    "^@storybook(.*)$",
    "^storybook(.*)$",
    "^eslint(.*)$",
    "^@eslint(.*)$",
    "<THIRD_PARTY_MODULES>",
    "@types",
    "@utils",
    "@data",
    "@layouts(.*)$",
    "^@components(.*)$",
    "^[./].*(?<!\\.(css|scss|sass|less))$",
    "@styles/.*\\.(css|scss|sass|less)$",
    "\\.(css|scss|sass|less)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": ["cn"]
}
