@theme {
  --color-primary-light: var(--color-blue-600);
  --color-primary-light-hover: var(--color-blue-700);
  --color-primary-light-active: var(--color-blue-800);
  --color-primary-dark: var(--color-blue-400);
  --color-primary-dark-hover: var(--color-blue-300);
  --color-primary-dark-active: var(--color-blue-200);

  --color-neutral-light: var(--color-slate-100);
  --color-neutral-light-hover: var(--color-slate-200);
  --color-neutral-dark: var(--color-slate-900);
  --color-neutral-dark-hover: var(--color-slate-800);

  --color-success-light: var(--color-green-600);
  --color-success-light-hover: var(--color-green-700);
  --color-success-light-active: var(--color-green-800);
  --color-success-dark: var(--color-green-400);
  --color-success-dark-hover: var(--color-green-300);
  --color-success-dark-active: var(--color-green-200);

  --color-danger-light: var(--color-red-600);
  --color-danger-light-hover: var(--color-red-700);
  --color-danger-light-active: var(--color-red-800);
  --color-danger-dark: var(--color-red-400);
  --color-danger-dark-hover: var(--color-red-300);
  --color-danger-dark-active: var(--color-red-200);

  --color-warning-light: var(--color-yellow-400);
  --color-warning-light-hover: var(--color-yellow-500);
  --color-warning-light-active: var(--color-yellow-600);
  --color-warning-dark: var(--color-yellow-300);
  --color-warning-dark-hover: var(--color-yellow-400);
  --color-warning-dark-active: var(--color-yellow-500);

  --color-info-light: var(--color-sky-600);
  --color-info-light-hover: var(--color-sky-700);
  --color-info-light-active: var(--color-sky-800);
  --color-info-dark: var(--color-sky-400);
  --color-info-dark-hover: var(--color-sky-300);
  --color-info-dark-active: var(--color-sky-200);

  --opacity-text-primary: 0.87;
  --opacity-text-secondary: 0.6;
  --opacity-text-disabled: 0.38;
}
