@layer theme;

@import 'tailwindcss';
@import './color.css' layer(theme);
@import './effect.css' layer(theme);
@import './spacing.css' layer(theme);
@import './typography.css' layer(theme);

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant active (&:active, &.active);
@custom-variant disabled (&:disabled, &.disabled);

@utility disabled {
  @apply opacity-text-disabled cursor-not-allowed! **:pointer-events-none;
}

@utility container {
  width: 100%;
  @media (width >= 40rem) {
    max-width: 40rem;
  }
  @media (width >= 48rem) {
    max-width: 48rem;
  }
  @media (width >= 64rem) {
    max-width: 64rem;
  }
  @media (width >= 80rem) {
    max-width: 80rem;
  }
}

@utility bg-primary-background-light {
  @apply bg-indigo-100;
}
@utility bg-primary-background-light-hover {
  @apply bg-indigo-200;
}
@utility bg-primary-background-dark {
  @apply bg-indigo-950;
}
@utility bg-primary-background-dark-hover {
  @apply bg-indigo-900;
}

@utility bg-success-background-light {
  @apply bg-green-100;
}
@utility bg-success-background-light-hover {
  @apply bg-green-200;
}
@utility bg-success-background-dark {
  @apply bg-green-950;
}
@utility bg-success-background-dark-hover {
  @apply bg-green-900;
}

@utility bg-danger-background-light {
  @apply bg-red-100;
}
@utility bg-danger-background-light-hover {
  @apply bg-red-200;
}
@utility bg-danger-background-dark {
  @apply bg-red-950;
}
@utility bg-danger-background-dark-hover {
  @apply bg-red-900;
}

@utility bg-warning-background-light {
  @apply bg-yellow-100;
}
@utility bg-warning-background-light-hover {
  @apply bg-yellow-200;
}
@utility bg-warning-background-dark {
  @apply bg-yellow-950;
}
@utility bg-warning-background-dark-hover {
  @apply bg-yellow-900;
}

@utility bg-info-background-light {
  @apply bg-sky-100;
}
@utility bg-info-background-light-hover {
  @apply bg-sky-200;
}
@utility bg-info-background-dark {
  @apply bg-sky-950;
}
@utility bg-info-background-dark-hover {
  @apply bg-sky-900;
}

@utility underline-gradient-* {
  @apply bg-gradient-to-r bg-position-[0_100%] bg-no-repeat;
  background-size: 0 --value([\*]);
  background-size: 0 calc(--value(integer) * 1px);

  &:hover {
    background-size: 100% --value([\*]);
    background-size: 100% calc(--value(integer) * 1px);
  }
}
